<h2 mat-dialog-title class="bold" align="center" *ngIf="lang==='en'">survey ({{surveyDetails.TemplateNameEn}}) Details </h2>
<h2 mat-dialog-title class="bold" align="center" *ngIf="lang==='ar'"> تفاصيل ({{surveyDetails.TemplateNameAr}}) </h2>

<mat-dialog-content class="mat-typography" style="width: 900px;" *ngIf="lang==='en'">
    <div class="container">
        <div class="row space" >
            <div class="col big-size" align="center">
                 <div class="bold inline">
                     Template ID: 
                 </div>    
             </div> 
            <div class="col big-size" align="center">
             <div class="inline">
                 {{surveyDetails.TEMPLATE_ID}} 
             </div> 
            </div>
        </div>
    
        <div class="row space">
             <div class="col bold big-size" align="center">
                 Survey ID
             </div>
             <div class="col big-size" align="center">
                {{surveyDetails.SRV_ID}}
            </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                Template Name
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.TemplateName}}
           </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                Survey Name
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.SurveyName}}
           </div>
        </div>

        <div class="row space">
            <div class="col big-size bold" align="center">
                Survey Status
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.SURVEY_STATUS_EN}}
           </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                System Type
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.SystemType}}
           </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                Survey Period(s)
            </div>
            <div class="col big-size" *ngIf="surveyDetails.SurveyPeriods.length===1" align="center">
                <span > {{surveyDetails.SurveyPeriods[0].START_DATE | date:'dd/MM/yyyy'}} - {{surveyDetails.SurveyPeriods[0].END_DATE | date:'dd/MM/yyyy'}} </span>  
           </div>
           <div class="col big-size" *ngIf="surveyDetails.SurveyPeriods.length!==1" align="center">
            <span >
                <mat-form-field  appearance="fill" style="height: 10px;margin-top: -5px;">
                  <mat-label>Choose an option</mat-label>
                  <mat-select disabled="false">
                    <mat-option *ngFor="let date of surveyDetails.SurveyPeriods">
                      {{date.START_DATE | date:'dd/MM/yyyy'}} - {{date.END_DATE | date:'dd/MM/yyyy'}}
                    </mat-option>
                    
                  </mat-select>
                </mat-form-field>
                
              </span>
       </div>
        </div>
        
        
    </div>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" style="width: 900px;" *ngIf="lang==='ar'">
    <div class="container">
        <div class="row space" >
            <div class="col big-size" align="center">
                 <div class="bold inline">
                     Template ID: 
                 </div>    
             </div> 
            <div class="col big-size" align="center">
             <div class="inline">
                 {{surveyDetails.TEMPLATE_ID}} 
             </div> 
            </div>
        </div>
    
        <div class="row space">
             <div class="col bold big-size" align="center">
                 Survey ID
             </div>
             <div class="col big-size" align="center">
                {{surveyDetails.SRV_ID}}
            </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                Template Name
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.TemplateNameAr}}
           </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                Survey Name
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.SurveyNameAr}}
           </div>
        </div>

        <div class="row space">
            <div class="col big-size bold" align="center">
                Survey Status
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.SURVEY_STATUS_AR}}
           </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                System Type
            </div>
            <div class="col big-size" align="center">
               {{surveyDetails.SystemType}}
           </div>
        </div>

        <div class="row space">
            <div class="col bold big-size" align="center">
                Survey Period(s)
            </div>
            <div class="col big-size" *ngIf="surveyDetails.SurveyPeriods.length===1" align="center">
                <span > {{surveyDetails.SurveyPeriods[0].START_DATE | date:'dd/MM/yyyy'}} - {{surveyDetails.SurveyPeriods[0].END_DATE | date:'dd/MM/yyyy'}} </span>  
           </div>
           <div class="col big-size" *ngIf="surveyDetails.SurveyPeriods.length!==1" align="center">
            <span >
                <mat-form-field  appearance="fill" style="height: 10px;margin-top: -5px;">
                  <mat-label>Choose an option</mat-label>
                  <mat-select disabled="false">
                    <mat-option *ngFor="let date of surveyDetails.SurveyPeriods">
                      {{date.END_DATE | date:'yyyy/MM/dd'}} - {{date.START_DATE | date:'yyyy/MM/dd'}}
                    </mat-option>
                    
                  </mat-select>
                </mat-form-field>
                
              </span>
       </div>
        </div>
        
        
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>