<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="./jquery.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"rayId":"672d3cfb5b63abe9","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.7.0","si":10}'></script>
<script src="./popper.js"></script>

<body class="img js-fullheight" style="background-image:url(../../assets/resource/loginBackground.webp)">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Login</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center" >Have an account?</h3>
                        <form action="#" class="signin-form" [formGroup]="formGroup">
                            <div class="form-group">
                                <input type="text" class="form-control" [ngClass]="changeOnClickStyle()" placeholder="ID" formControlName="id">
                                <span class="help-block" *ngIf="!formGroup.get('id')?.valid &&(formGroup.get('id')?.touched || signIn_clicked)">
                                    <ul>
                                        <li><span *ngIf="formGroup.get('id')?.hasError('required')">this field is required</span></li>
                                    </ul>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <input id="password-field" type="password" [ngClass]="changeOnClickStyle()" class="form-control" placeholder="Password" formControlName="password">
                                <span class="help-block" *ngIf="!formGroup.get('password')?.valid &&(formGroup.get('password')?.touched || signIn_clicked)">
                                    <ul>
                                        <li><span *ngIf="formGroup.get('password')?.hasError('required')">this field is required</span></li>
                                    </ul>
                                </span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3" (click)="submit()">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <p class="w-100 text-center">&mdash; Or Sign up &mdash;</p>
                        <div class="social d-flex text-center">
                            <a [routerLink]="['/signup']" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                                Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
