<app-header></app-header>
<div class="container">
    <div class="row rowPage contPage">
      <div class="container page">

        

        <div [ngClass]="isTopOption()">

          
          
          <button mat-button class="d-inline-block ml-2 " [ngClass]="dashboardBtnSelected()" [disabled]="selectedItem==-1" (click)="openDialog()" >{{'GO TO DASHBOARD'|translate}}</button>
          <input mat-input placeholder="SEARCH SURVEY'S" class="d-inline-block ml-2" style="margin: 5px;"  autocomplete="off"  (keyup)="filterItem(search)" #search/>

          
          
         <app-filter></app-filter>
          
          
           
            <div [ngClass]="isTopOption()"> 
              <br>
              <mat-icon class="btn btn-outline-secondary" style="margin: 5px; height: 10px;width: 10px;cursor: pointer;" 
              (click)="listButton()" [ngClass]="onListIConSelected()" aria-hidden="false" aria-label="Example home icon" >list</mat-icon>
              <mat-icon></mat-icon>
              <mat-icon class="btn btn-outline-secondary" style="margin-left: 5px; height: 10px;width: 10px;cursor: pointer;"  
              (click)="cardButton()" [ngClass]="onGridIConSelected()" aria-hidden="false" aria-label="Example home icon">grid_on</mat-icon>
            
          </div>
        </div>
        
       
         

        <mat-tab-group [disableRipple]="true" class="categories">
  
         
  
          <mat-tab>
            <ng-template mat-tab-label>{{'Published' | translate}}</ng-template>
            <ng-container *ngTemplateOutlet="Published"> </ng-container>
          </mat-tab>
  
          <mat-tab>
            <ng-template mat-tab-label>{{'Expired' | translate}}</ng-template>
            <ng-container *ngTemplateOutlet="Expired"> </ng-container>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>{{'Closed' | translate}}</ng-template>
            <ng-container *ngTemplateOutlet="Closed"> </ng-container>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>{{'All Surveys' | translate}}</ng-template>
            <ng-container *ngTemplateOutlet="surveysTab" ></ng-container> 
          </mat-tab>
        </mat-tab-group>
        

      
      </div>
  
  
      <br><br>
      

      <ng-template #Published>
        <br><br>
        <app-card-list *ngIf="isList===false"  filterOption="Published"> </app-card-list>
       <app-list *ngIf="isList===true" [lang]="lang"  filterOption="Published"></app-list>
      </ng-template>

      <ng-template #Expired>
        <br><br>
        <app-card-list *ngIf="isList===false"  filterOption="Expired"></app-card-list>
       <app-list *ngIf="isList===true" [lang]="lang"  filterOption="Expired"></app-list>
      </ng-template>

      <ng-template #Closed>
        <br><br>
        <app-card-list *ngIf="isList===false" filterOption="Closed"></app-card-list>
       <app-list *ngIf="isList===true" [lang]="lang"  filterOption="Closed"></app-list>
      </ng-template>

      <ng-template #surveysTab>
        <br><br>

       <app-card-list *ngIf="isList===false" ></app-card-list>
       <app-list *ngIf="isList===true" [lang]="lang" ></app-list>
      </ng-template>

    </div>
    
  </div>
  